<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="/images/about.jpeg" alt="ashu" class="img-fluid" title="Ashutosh Mishra">
                    </figure>
                    
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Hello Everyone!</p>
                    <h1>I am an <span class="text_clr"> Amateur Back End Developer </span> and currently pursuing My Bachelors in Electronics and Communication Engineering.</h1>
                    <a href="https://www.youtube.com/watch?v=F9_PZfxKovU&t=10s" target="_ashu"><button>More About Me</button></a>

                </div>
               
            </div>

        </div>
    </div>
</div>
<style>


.main_header_left{
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_header_left p{
  font-size: 1rem;

}

.main_header_left h1{
  font-size: 2rem;
  margin: 1rem 0 4rem 0 ;
  text-transform: capitalize;
}

.main_header_left .text_clr{
  color:var(--main-color);
}

.main_header_left button{
  border:none;
  padding:0.5rem 1rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px #000;
  outline: none;
  cursor: pointer;
}

.main_header_left button:hover{
  box-shadow: 0 8px 6px -6px var(--main-color);

}
.bio{
  font-size: 0.5rem;
}


.main_header_right{
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_header_right figure img{
height: 30rem;
filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3));
}


</style>